<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EmguCV" version="3.1.0.1" targetFramework="net40-client" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="net40-client" requireReinstallation="true" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net40-client" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40-client" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net40-client" requireReinstallation="true" />
  <package id="OpenTK" version="1.1.2225.0" targetFramework="net40-client" />
  <package id="OpenTK.GLControl" version="1.1.2225.0" targetFramework="net40-client" />
  <package id="ZedGraph" version="5.1.5" targetFramework="net40-client" />
</packages>